@import url('https://fonts.googleapis.com/css?family=Tomorrow:400,600&display=swap');

body {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    font-family: Tomorrow, sans-serif;
}

.container{
    width: 100vw;
    height: 100vw;
    background-color: #1a151a;
}

.titles {
    position: absolute;
    width: 18em;
    height: 40em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 300%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(250px) rotateX(20deg);
}

.titles:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 80%;
    background-image: linear-gradient(top, rgb(17, 14, 8) 0%, transparent 100%);
    pointer-events: none;
}

.title-content {
    position: absolute;
    top: 60%;
    animation: flow 30s linear infinite;
}

.header {
    text-align: center;
    color: #dad43a;
}

.content {
    color: #dad43a;
    text-align: center;
    font-size: 100px;
}

@keyframes flow {
    0% {
        top: 90%;
    }
    100% {
        top: -30%;
    }
}

